{{!< page}}
{{#contentFor "form-area"}}
  <form class="contact-form" action="https://getform.io/f/820b86f7-6480-4e6e-8295-34b3e1950906" method="POST>
  <label for="email-address">Email Address</label>
  <input type="text" name="name" id="full-name" placeholder="First and Last" required>
  <label for="full-name">Name</label>
  <input type="email" name="_replyto" id="email-address" placeholder="Your email address" required>
  <label for="message">Your Message</label>
  <textarea rows="5" name="message" id="message" placeholder="Your message" required></textarea>
  <input type="submit" value="Submit">
  </form>
{{/contentFor}}
